p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(112, 26, 26);
    font-size: 25px;
}


#logo {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

h1 {
    color: rgb(112, 26, 26);
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 59px;

}

.concours {
    margin-top: 40px;
    background-color: rgb(70, 238, 70);
    text-align: center;
    color:rgb(112, 26, 26);
}

h3 {
    color:  rgb(112, 26, 26);
    text-align: center;
    text-decoration: solid;
    font-size: 30px;
    border: 3px solid rgb(139,69,19);
    border-radius: 20px;
    
}

body {
    background-color: lightgreen;
}

h2 {
    font-size: 60px;
}

/* .imgpetanque {
    background-image: url(https://www.petanque-tarn.com/wp-content/uploads/2019/03/A.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 200px;  */
    
     

#petanque {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    height: 600px; 
    
    
}

.content {
    margin-top: 100px;
}

.inscription {
    text-align: center;
    background-color: rgb(255,222,173);
    border: 3px solid rgb(139,69,19);
    border-radius: 20px;
}

.surplace {
    text-align: center;
    background-color: rgb(260,164,96);
    border: 3px solid rgb(139,69,19);
    border-radius: 20px;
    
}

h4 {
    text-decoration: underline;
    font-size: 40px;
    color: rgb(112, 26, 26);
}

#footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 186px;
}

.date {
    margin-top: 50px;
    margin-bottom: 50px;
}